.spotList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 50px;
  margin-top: 50px;
  font-size: 14px;
}

.spot {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  position: relative;
}

.previewImage {
  width: 100%;
  aspect-ratio: 1.4 / 1;
  border-radius: 20px;
  object-fit: cover;
}

.spotLocation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.address {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px
}

.spotName {
  color: #717171;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotPrice > span {
  font-weight: bold;
}

.spotManagement {
  margin-top: 10px;
  display: flex;
  gap: 10px
}

.spotManagement button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageSpotsTitle h1 {
  margin-bottom: 10px;
}

.manageSpotsTitle button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  width: 200px;
}

.manageSpotsTitle + .textBox {
  margin-top: 50px;
}

@media screen and (max-width: 1400px) {
  .spotList {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 1000px) {
  .spotList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media screen and (max-width: 650px) {
  .spotList {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.spotLoading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px;
}

.eclipse {
  display: flex;
  flex-wrap: wrap;
  gap: 2px
}

.eclipse span {
  animation: loading 2s linear infinite;
  font-size: 30px;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.eclipse span:nth-child(1) {
  animation-delay: -1.5s;
}

.eclipse span:nth-child(2) {
  animation-delay: -1s;
}

.eclipse span:nth-child(3) {
  animation-delay: -0.5s;
}

.tooltip {
  opacity: 0;
  width: 200px;
  font-size: 10px;
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.566);
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.spot:hover .tooltip {
  opacity: 1;
}
