.spotList {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr)) ;
  gap: 50px;
  margin-top: 50px;
  font-size: 14px;
}

.spot {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
}

.previewImage {
  width: 100%;
  aspect-ratio: 1.4 / 1;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}

.spotLocation {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.address {
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stars {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px
}

.spotName {
  color: #717171;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.spotPrice > span {
  font-weight: bold;
}

.spotManagement {
  margin-top: 10px;
  display: flex;
  gap: 10px
}

.spotManagement button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manageSpotsTitle h1 {
  margin-bottom: 10px;
}

.manageSpotsTitle button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  width: 200px;
}

.manageSpotsTitle + .textBox {
  margin-top: 50px;
}
