.confirmReservation {
  height: auto;
  width: 400px;
  font-family: 'Manrope', sans-serif;
  padding: 20px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.confirmReservation p {
  margin-top: 0px;
  width: 90%;
}

.confirmReservation h1 {
  font-family: 'Manrope', sans-serif;
  margin: 20px 0px 10px 0px;
  font-size: 25px;
}

.confirmReservation button {
  font-family: 'Manrope', sans-serif;
  cursor: pointer;
  font-size: 14px;
  border: none;
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  border-radius: 40px;
  width: 200px;
}

.confirmReservationButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
