div.createSpotForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 800px;
  min-width: 500px;
  margin: auto;
}

form.createSpotForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

form.createSpotForm h2 {
  margin: 0px;
  padding: 0px;
}

form.createSpotForm > p {
  margin: 0px;
  padding: 5px 0px 15px 0px;
}

.selectMenu {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 60px;
  margin-top: 15px;
}

.selectMenu label {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
}

.selectOptions {
  width: 100%;
  font-size: 14px;
}

p.warningMessage {
  color: darkorange;
  font-size: 14px;
}

.googleMap {
  width: 100%;
  border-radius: 10px;
  align-self: center;
  margin-top: 15px;
}

.locationSection {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
}

.descriptionSection {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  padding-top: 10px;
}

.nameSection {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  padding-top: 10px;
}

.priceSection {
  border-bottom: 1px solid lightgray;
  padding-bottom: 30px;
  padding-top: 10px;
}

p.availabilityError {
  margin: 0px;
  padding-top: 5px;
}

.error .selectOptions {
  [class$="-Svg"] {
    color: red;
  }
  [class$="-indicatorSeparator"] {
    background-color: red;
  }
}

.error .unfocusedSelect {
  border: 1px solid red;
}

.error .unfocusedSelect:hover {
  border: 1.5px solid red;
}

.error .focusedSelect {
  outline: 1.5px solid red;
  border: 1.5px solid red;
}

.error .focusedSelect:hover {
  border: 1.5px solid red;
}

.inputArea {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 200px;
  margin-top: 15px;
  border-radius: 8px;
  border: 1px solid #DDDDDD;
}

.inputArea label {
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 12px;
}

.inputArea textarea {
  position: absolute;
  bottom: 0px;
  top: 25px;
  height: 83%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  padding: 0px 0px 7px 9px;
  font-size: 14px;
  border: transparent;
  font-family: 'Manrope', sans-serif;
  resize: none;
}

.inputArea textarea:focus {
  outline: none;
}

.inputArea:focus-within {
  outline: 1.5px solid black;
  border-color: black;
}

.inputArea:hover {
  border-color: black;
}

.inputArea textarea:-webkit-autofill {
  -webkit-background-clip: text;
}

.errorTextarea {
  border: 1px solid red;
}

.errorTextarea:hover {
  border-color: red;
  outline: 1.5px solid red;
}

.errorTextarea:focus-within {
  outline: 1.5px solid red;
  border-color: red;
}

.errorTextarea label {
  color: red;
}
